<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestYingKe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>692B6CF41DE2895D0098C5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692B6D0D1DE2895D0098C5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692B6D181DE2895D0098C5FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
